<div class="row">
    <div class="text-center" id="cuadro-educacion">
      <h2>Educación</h2>
    </div>
    <div class="col-1"></div>
    <div class="col-11">
        <ul>
            <li>
              <h3>Argentina Programa Full Stack Developer.</h3> - <h4>Jun 2022 - May 2023</h4>   
            </li>
            <p>Finalizado.</p>
        </ul>
        <ul>
            <li>
              <h3>Certificación de publicidad en display de Google Ads.</h3> - <h4>Ene 2022 - Sep 2022</h4>   
            </li>
             <p>Skillshop - Google. Finalizado.</p>
        </ul>
        <ul>
            <li>
              <h3>Curso de marketing estratégico.</h3> - <h4>May 2022 - Ago 2022</h4>   
            </li>
            <p>Instituto Mariano Moreno educación superior. Finalizado.            </p>
        </ul>
        <ul>
            <li>
              <h3>Tecnicatura de diseño y animación digital.</h3> - <h4>Feb 2019 - Mar 2020</h4>   
            </li>
            <p>Universidad Siglo 21. Un año de cursado.          </p>
        </ul>
        <ul>
            <li>
              <h3>Curso de negocios y marketing de la industria farmacéutica.</h3> - <h4>Feb 2016 - Mar 2018</h4>   
            </li>
            <p>Universidad Nacional de Córdoba. Finalizado.            </p>
        </ul>
        <ul>
            <li>
              <h3>Titulo secundario. Bachiller en economía y gestión de las organizaciones.</h3> - <h4>Feb 2009 - Dic 2014</h4>   
            </li>
            <p>Instituto educacional Garcia Faure. Finalizado.        </ul>
        <ul>
            <li>
              <h3>Curso de inglés Senior Advance.</h3> - <h4>Feb 2007 - Dic 2013</h4>   
            </li>
            <p>Highland School english institute. Finalizado.            </p>
        </ul>
    </div>

</div>
