<div class="row">
    <div class="text-center" id="cuadro-skills">
        <h2>Hard & Soft Skills</h2>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/angular logo.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]="100"
            [imageSrc]="'../assets/ruby logo.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="15"
            [radius]="100"
            [imageSrc]="'../assets/TS logo.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="15"
            [radius]="100"
            [imageSrc]="'../assets/bootstrap logo.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/responsabilidad.png'"
            [showImage]="true"
            [imageHeight]="75"
            [imageWidth]="75"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#44009c'"
            [innerStrokeColor]="'#999999'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
</div>