<div id="contenedor-perfil">
  <div id="perfil">
    <div class="row" id="marcocompleto">
      <div class="col-6 col-sm-2 col-md-2 col-lg-2">
        <img src="assets/foto perfil 2023.jpg" class="img-perfil" id="fotodeperfil">
      </div>
      <div class="col-6 col-sm-2 col-md-2 col-lg-2" id="titulo">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
      </div>
      <div class="col-12 col-sm-8 col-md-8 col-lg-8">
        <div class="p-2" id="columna-about">
          <h2>About me:</h2>
          <p>Hi! I'm Gabriel and i'm 26 years old, this is my final project for the second stage of Argentina Programa,
            #YoProgramo where i applied all my acquired knowledge in this full stack developer course. In the personal aspect
            i enjoy sharing with friends, the calisthenic training, play videogames and watch series. </p>
        </div>
      </div>
    </div>
  </div>
</div>