.img-perfil{
    width: 100%;
    border-radius: 5px;
}
#contenedor-perfil{
    padding: 5px;
}
#perfil{
    background-color: #303030;
    border-radius: 10px;
    overflow: hidden;
}
#titulo{
    font-weight:bold;
    font-size: medium;
    margin-top: 55px;
}

#columna-about{
        background-color: #404040;
        height: 100%;
        border-radius: 10px;
    }
    @media (min-width: 575px){
        .img-perfil{
            width: 100%;
            border-radius: 5px;
        }
    }