<div class="row normalizar-table">
  <div class="text-center" id="cuadro-educacion">
      <h2>Educación</h2>
    </div>
  <div class="col-lg-2 normalizar-table">
      <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
          Agregar Educación
      </button>
  </div>

  <!-- <div class="col-lg-1"></div> -->
  <div class="normalizar-table">
      <table class="normalizar-table"  id="tabla">
          <tbody style="color: aliceblue;">
              <tr *ngFor="let Educacion of educacion" style="border-top: 1px white solid; margin-top: 10px;">
                  <td>
                      <h2>{{Educacion.nombreE}}</h2>
                  </td>
                  <td>{{Educacion.descripcionE}}</td>
                  <td class="button-wrapper">
                  <div *ngIf="isLogged">
                      <button class="btn btn-light" id="btn-edit" routerLink="/editedu/{{Educacion.id}}">
                          <i class="bi bi-pencil-fill"></i></button>
                  </div>
                  <div *ngIf="isLogged" id="btn-delete">
                      <button class="btn btn-danger" id="btn-delete" (click)="delete(Educacion.id)">
                          <i class="bi bi-trash-fill"></i></button>
                  </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

</div>
  