    <div class="row">
            <div class="text-center" id="cuadro-proyectos">
                <h2>Proyectos Realizados</h2>
            </div>
    
                <div class="col-12 col-sm-5 col-md-5 col-lg-5" id="intro">
                    <div id="caja-titulo"> 
                     <h3>Portfolio personal</h3>
                    </div>  
                        <p>Este es mi proyecto final para la segunda y última etapa #YoProgramo del curso de Argentina Programa. A su vez es mi primer proyecto realizado y espero que también me ayude a conseguir mi primer trabajo en el rubro. Made with love 🤍.</p>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-12 col-sm-5 col-md-5 col-lg-5">
                       <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"><img src="assets/screen portfolio.png" class="text-center" alt="" id="screenshot"></a>
                    </div>
                </div>
              