    <div class="text-end">
            <a href="https://www.linkedin.com/in/gabriel-boetto-412b5015b/"><img src="../../../assets/linkedin.png" id="linkedin"> </a>
            <a href="https://www.instagram.com/gabrielboetto/?hl=es"><img src="../../../assets/instagram.png" id="instagram"> </a>
            <a href="https://www.facebook.com/gabiriel.boetto"><img src="../../../assets/facebook.png" id="facebook"> </a>
            <a href="https://github.com/GabrielBoetto"><img src="../../../assets/github.png" id="github"> </a>
            <a href="/login"><img src="../../../assets/boton login.png" id="botonlogin" *ngIf="!isLogged"> </a>
            <a href="/login"><img src="../../../assets/logout_icon_250139 (1).png" id="botonlogout" *ngIf="isLogged"> </a>
    </div>
