    <div class="row">
        <h2>Experiencia laboral</h2>
        <div class="col-1"></div>
        <div class="col-11">
            <ul>
                <li>
                  <h3>Nordic Bros.</h3> - <h4>Jul 2021 - Presente</h4>   
                </li>
                <p>
                 Emprendimiento propio orientado a los insumos deportivos. Líder, encargado de planificación, organización, marketing y compra/venta. 
                </p>
            </ul>
            <ul>
                <li>
                  <h3>JEA Jeep, Chevrolet Chexa, Fiat Turin.</h3> - <h4>Abr 2021 - Oct 2021</h4>   
                </li>
                <p>
                   Representante comercial de dichas concecionarias automotrices de venta de 0Km (todas pertenecientes a Grupo Antun). Vendedor de salón y asesoramiento personalizado. 
                </p>
            </ul>
        </div>

    </div>
